<h1>Angular Portfolio Items</h1>

<a href="portfolios/new">Create New Item</a>

<%= link_to "Create New Item", new_portfolio_path if logged_in?(:admin)%>

<% @angular_portfolio_items.each do |port| %>
  <p><%= link_to port.title, portfolio_show_path(port) %></p>
  <p><%= port.subtitle %></p>
  <p><%= port.body %></p>
  <p><%= image_tag port.thumb_image unless port.thumb_image.nil?%></p>
  <%= link_to "Edit Angular Portfolio Item", edit_portfolio_path(port) if logged_in?(:admin) %>
  <%= link_to 'Delete angular portfolio item', portfolio_path(port), method: :delete, data: {confirm: 'Are you sure?'}  if logged_in?(:admin)%>
<% end %>